*{margin: 0; padding: 0}

#container, #container2, #container3, #container4 {border: 2px solid violet; width: 90%; height: 100px; margin: auto; display: flex; justify-content: space-evenly; margin-top: 10px}
#btn, #btn2, #btn3, #btn4, input, select{height: 50px}

nav{
  background: paleturquoise
}
body{
  background: url(../bg.svg);
}
.hide{display: none}
.none{
  background: paleturquoise;
  width: 100%;
  height: 100%;
  position: absolute
}
a{
  text-decoration: none;
  color: black;
  font-size: 22px
}
p{
  font-size: 22px;
}