*{margin: 0; padding: 0;}
nav{background: rgb(41, 126, 165);}
body{background: url(../bg.svg) no-repeat;}
main{
    height: 600px;
    display: flex;
    align-content: center;
}
ul{
    list-style: none;
}
li{
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
a:hover{
    color: aquamarine;
}

.none{
    width: 400px;
    height: 100%;
    background-color: rgb(41, 126, 165);
    position: absolute;
    z-index: 1;
}
.hide{display: none;}

#input-url{
  background: transparent;
  border-radius: 16px;
  border: 2px solid white;
  width: 80%;
  font-size: 22px;
  height: 25px
}

#menu{
    width: 50px; 
    margin-left: .5rem;
}
#gerador{
    margin: auto; 
    text-align: center; 
    min-height: 250px;
    min-width:250px; 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 2px solid rgba(255, 255, 255, 1);
}

#btn, #btn2{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(9px);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    transition: .5s;
    color: rgb(211, 232, 250);
} #btn:hover{
    background-color: aquamarine;
    color: black;
}
 #btn2:hover{
    background-color: aquamarine;
    color: black;
}


@media screen and (min-width: 768px){
    h1{font-size: 50px;}
    li{font-size: 60px;}

    #gerador{width: 550px;height: 550px;}
    #btn{width:60%; height: 70px; font-size: 40px;}
}